[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall

[submodule "modules/drush"]
	path = modules/drush
	url = https://github.com/a-c-m/puppet-drush-simple.git
